*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(255, 119, 0);
    position: fixed;
    width: 100%;
    z-index: 1;
}

main{
    padding: 100px;
}

/* COMMON */

.container{
    margin: 0 auto;
    max-width: 900px;
}

.row{
    display: flex;
    width: 100%;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

/* HEADER */

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo > img{
    width: 60%;
    padding: 20px;
}

.user{
    display: flex;
    justify-content: end;
}

.user > i{
    padding: 20px 5px;
}

.categories{
    color: white;
    padding: 20px 5px;
}

/* MAIN */

.product{
    position: relative;
    width: 100%;
}

.product > img{
    width: 100%;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.product:hover .hidden{
    display: block;
}

.product:hover .show{
    display: none;
}

.bg-white{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 5px;
}

.heart{ 
    padding: 5px 10px;   
}

.bg-white:hover .heart{
    color: red;
}

.discount{
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 10px;
    padding: 5px 7px;
    font-weight: 600;
}

.bg-red{
    background-color: red;
    left: 0;
}

.bg-green{
    background-color: green;
    left: 40px;
}

.l-0{
    left: 0;
}

.brand{
    font-size: 8px;
    padding-top: 2px;
}

.model{
    font-size: 9px;
    font-weight: 600;
}

.price{
    display: flex;
}

.text-color{
    color: red;
    font-size: 9px;
    padding-right: 2px;
    font-weight: 600;
}

.line-through{
    text-decoration: line-through;
    font-size: 9px;
}
